body{
    background-color: black;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 30px 6%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.logo{
    font-size: 40px;
    color: white;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    transition: ease-in 0.2s;
    cursor: pointer;
    text-shadow: 1px 1px 1px #1167b1,
    1px 1px 1px #1167b1,
    1px 1px 1px #187bcd,
    1px 2px 1px #03254c,
    1px 3px 1px #03254c,
    1px 4px 1px #03254c,
    1px 5px 1px #03254c,
    1px 6px 1px #03254c,
    1px 7px 1px #03254c,
    1px 8px 1px #03254c,
1px 15px 6px rgba(16,16,16,0.4),
1px 15px 8px rgba(16,16,16,0.2),
1px 20px 30px rgba(16,16,16,0.2),
1px 20px 50px rgba(16,16,16,0.4);
}


.navbar a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
    padding: 0px 40px;
    transition: .3;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    transition: ease-in 0.15s;
}

.navbar a:hover{
    color: #187bcd;
    font-size: 23px;
}

.btn{
    font-size: 23px;
    border-radius: 50px;
    border: none;
    width: 145px;
    height: 55px;
    background-color: #03254c;
    color: white;
    box-shadow: inset 0 0 0 0 #1167b1;
    transition: ease-out 0.4s;
    cursor: pointer;
}

.btn:hover{
    box-shadow: inset 300px 0 0 0 #187bcd;
    font-size: 24px;
}

.st{
    color: #03254c;
    text-shadow: 1px 1px 1px #1167b1,
    1px 1px 1px #1167b1,
    1px 1px 1px #187bcd,
    1px 2px 1px #03254c,
    1px 3px 1px #03254c,
    1px 4px 1px #03254c,
    1px 5px 1px #03254c,
    1px 6px 1px #03254c,
    1px 7px 1px #03254c,
    1px 8px 1px #03254c,
1px 15px 6px rgba(16,16,16,0.4),
1px 15px 8px rgba(16,16,16,0.2),
1px 20px 30px rgba(16,16,16,0.2),
1px 20px 50px rgba(16,16,16,0.4);

color: #187bcd;
text-shadow: 0 0 10px #187bcd,
0 0 200px #187bcd;
}


.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 12% 0;
}

.home-content{
    max-width: 550px;
    font-weight: 600;
    cursor: pointer;
}

.home-content h1{
    color: white;
    font-size: 70px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.2s;
    line-height: 2;
    font-weight: 900 bolder;
    text-shadow:
    1px 1px 1px #1167b1,
    1px 1px 1px #1167b1,
    1px 1px 1px #187bcd,
    1px 2px 1px #03254c,
    1px 3px 1px #03254c,
    1px 4px 1px #03254c,
    1px 5px 1px #03254c,
    1px 6px 1px #03254c,
    1px 7px 1px #03254c,
    1px 8px 1px #03254c,
1px 15px 6px rgba(16,16,16,0.4),
1px 15px 8px rgba(16,16,16,0.2),
1px 20px 30px rgba(16,16,16,0.2),
1px 20px 50px rgba(16,16,16,0.4);

text-shadow: 0 0 20px #187bcd,
0 0 100px #187bcd;
}

.sto{
    color: #187bcd;
}

.home-content p{
    color: white;
    font-size: 45px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.3s;
    max-width:600px;
    text-shadow: 1px 1px 1px #187bcd;
}

.best{
    color: #1167b1;
    color: #187bcd;
    text-shadow: 0 0 20px #187bcd,
    0 0 100px #187bcd;
}

.dc{
    color: #1167b1;
    color: #187bcd;
    text-shadow: 0 0 20px #187bcd,
    0 0 100px #187bcd;
}

.trust{
    color: #1167b1;
    color: #187bcd;
text-shadow: 0 0 20px #187bcd,
0 0 100px #187bcd;
}

.picture{
    translate: 500px;
    width: 400px;
    border: 2px solid #1167b1;
    box-shadow: 0px 0px 0px 5px #03254c;
    border-radius: 50%;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.3s; 
}

.btn1{
    display: inline-block;
    padding: 17px 32px;
    background: #1167b1;
    border: 1px solid #03254c;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.3s;   
    transition: ease-in-out 0.27s;
    translate: 0px 30px;
}

.btn1:hover{
    background: rgb(223, 223, 223);
    color: black;
    border: 1px solid black;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animate
{

    100%
    {
        color: #187bcd;
        text-shadow: 0 0 10px #187bcd,
        0 0 160px #187bcd;
    }
}